<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Taloudenhallinta</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h3><a class="navbar-brand" href="/etusivu">Taloudenhallinta</a></h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/etusivu">Etusivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menolista">Menot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tulolista">Tulot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="jasenlista">Jäsenet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kategorialista">Kategoriat</a>
      </li>
    </ul>
  </div>
    <div>
      	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-light"/>
		</form>
  </div>
</nav>

<h5>Lisää tulokategoria</h5>
<div>
		<form th:object="${tulokategoria}" th:action="@{/savetulokategoria}" action="#" method="post">
		  	<p class="text-danger" th:if="${#fields.hasErrors('tulokategoriaNimi')}" th:errors="*{tulokategoriaNimi}">Error</p>
		  	<label for="nimi">Nimi</label>
			<input type="text" id="tulokategoriaNimi" th:field="*{tulokategoriaNimi}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Tallenna" class="btn btn-primary"></input>
		</form>
	</div>

</body>
</html>