<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org">
<head>
	<title>Taloudenhallinta</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div><h3>Menot</h3></div>

<table class="table table-hover table-responsive-md">
	<tr class="bg-info">
		<th>Päivämäärä</th>
		<th>Tyyppi</th>
		<th>Muistiinpano</th>
		<th>Summa</th>
		<th>Maksaja</th>
		<th></th>
		<th></th>
	</tr>
	<tr th:each="meno : ${ menot }">
		<td th:text="${ meno.getPvm() }"></td>
		<td th:text="${ meno.getMenokategoria().getMenokategoriaNimi() }"></td>
		<td th:text="${ meno.getMuistiinpano() }"></td>
		<td th:text="${ meno.getSumma() }"></td>
		<td th:text="${ meno.getJasen().getNimi() }"></td>
		<td><a th:href="@{/editmeno/{id}(id=${meno.menoId})}" class="btn btn-info">Muokkaa</a> </td>
		<td><a th:href="@{/deletemeno/{id}(id=${meno.menoId})}" class="btn btn-danger">Poista</a></td>
	</tr>
</table>

<p><a href="/addmeno" class="btn btn-success">Lisää meno</a></p>

<div>

<h3>Tulot</h3>

<table class="table table-hover table-responsive-md">
	<tr class="bg-info">
		<th>Päivämäärä</th>
		<th>Tyyppi</th>
		<th>Muistiinpano</th>
		<th>Summa</th>
		<th>Tuoja</th>
		<th></th>
		<th></th>
	</tr>
	<tr th:each="tulo : ${ tulot }">
		<td th:text="${ tulo.getPvm() }"></td>
		<td th:text="${ tulo.getTulokategoria().getTulokategoriaNimi() }"></td>
		<td th:text="${ tulo.getMuistiinpano() }"></td>
		<td th:text="${ tulo.getSumma() }"></td>
		<td th:text="${ tulo.getJasen().getNimi() }"></td>
		<td><a th:href="@{/edittulo/{id}(id=${tulo.tuloId})}" class="btn btn-info">Muokkaa</a> </td>
		<td><a th:href="@{/deletetulo/{id}(id=${tulo.tuloId})}" class="btn btn-danger">Poista</a></td>
	</tr>
</table>

<p><a href="/addtulo" class="btn btn-success">Lisää tulo</a></p>
<p></p>
<p><a href="/jasenlista" class="btn btn-secondary">Jäsenlistaukseen</a></p>
<p></p>
<p><a href="/kategorialista" class="btn btn-primary">Kategorialistaukseen</a></p>
</div>
</body>
</html>