<!DOCTYPE html>
<html xmlns:th="http://www.ThymeLeaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Taloudenhallinta</title>
	<meta  http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h3><a class="navbar-brand" href="/etusivu">Taloudenhallinta</a></h3>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/etusivu">Etusivu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menolista">Menot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tulolista">Tulot</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/jasenlista">Jäsenet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kategorialista">Kategoriat <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
    <div>
      	<form th:action="@{/logout}" method="post">
			<input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-light"/>
		</form>
  </div>
</nav>

<h5>Menokategoriat</h5>
<table class="table table-striped">
	<tr>
	<th>Nimi</th>
	</tr>
	<tr th:each="menokategoria : ${ menokategoriat }">
	<td th:text="${ menokategoria.getMenokategoriaNimi() }">Nimi</td> 

	<td><a th:href="@{/editmenokategoria/{id}(id=${menokategoria.getMenokategoriaId()})}" class="btn btn-primary">Muuta</a></td> 
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletemenokategoria/{id}(id=${menokategoria.getMenokategoriaId()})}" class="btn btn-danger">Poista</a></td>
	</tr>
</table>

<p><a href="/addmenokategoria" class="btn btn-success">Lisää menokategoria</a></p>

<h5>Tulokategoriat</h5>
<table class="table table-striped">
	<tr>
	<th>Nimi</th>
	</tr>
	<tr th:each="tulokategoria : ${ tulokategoriat }">
	<td th:text="${ tulokategoria.getTulokategoriaNimi() }">Nimi</td> 

	<td><a th:href="@{/edittulokategoria/{id}(id=${tulokategoria.getTulokategoriaId()})}" class="btn btn-primary">Muuta</a></td> 
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletetulokategoria/{id}(id=${tulokategoria.getTulokategoriaId()})}" class="btn btn-danger">Poista</a></td>
	</tr>
</table>

<p><a href="/addtulokategoria" class="btn btn-success">Lisää tulokategoria</a></p>



</body>
</html>